In [5]:
import networkx as nx  # 每个.py文件叫模块
from matplotlib import pyplot as plt
import time
import pandas as pd
import numpy as np

result = pd.read_csv('result/part_two_result.csv',index_col=0)

In [6]:
result

,1,20,40,60,80,100,120,140,160,180,...,1340,1360,1380,1400,1420,1440,1460,1480,1500,degree
0,100,105,120,140,150,160,172,180,186,194,...,330,332,325,325,323,320,317,325,325,12
1,100,103,116,125,124,123,123,128,133,134,...,0,3,3,1,9,15,9,5,7,10
2,100,122,135,148,160,183,195,210,223,237,...,822,827,843,854,861,870,882,889,901,17
3,100,95,87,78,71,64,62,59,60,57,...,2,0,1,0,1,1,1,0,1,6
4,100,92,80,80,79,72,66,55,50,39,...,2,0,0,1,2,2,2,1,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,100,104,108,120,120,124,123,121,125,126,...,113,113,102,101,96,92,89,89,87,10
96,100,85,70,55,36,23,4,0,0,0,...,0,0,0,0,0,0,1,0,0,3
97,100,104,112,114,110,117,124,122,132,140,...,324,323,324,329,329,332,336,336,337,12
98,100,96,86,75,62,51,41,35,23,6,...,0,0,0,0,0,0,0,0,0,5
99,100,95,89,86,82,75,79,81,77,73,...,6,1,2,3,0,0,4,1,0,9

In [7]:
result.degree.corr(result['1500'])

0.7924739849767151

In [20]:
percent_analyse = pd.DataFrame({'fortune':result['1500']}).sort_values(by='fortune', ascending=False).reset_index(names='id')
total_fortune = percent_analyse.fortune.sum()
percent_analyse['percentage'] = percent_analyse['fortune'] / total_fortune
percent_analyse['cumulative_fortune'] = percent_analyse['fortune'].cumsum()
percent_analyse['cumulative_proportion'] = percent_analyse['cumulative_fortune'] / total_fortune # 求累计占比
percent_analyse

    id  fortune  percentage  cumulative_fortune  cumulative_proportion
0   59      937      0.0937                 937                 0.0937
1    2      901      0.0901                1838                 0.1838
2   44      622      0.0622                2460                 0.2460
3   12      551      0.0551                3011                 0.3011
4   68      505      0.0505                3516                 0.3516
..  ..      ...         ...                 ...                    ...
95  57        0      0.0000               10000                 1.0000
96  64        0      0.0000               10000                 1.0000
97  65        0      0.0000               10000                 1.0000
98  67        0      0.0000               10000                 1.0000
99  99        0      0.0000               10000                 1.0000

[100 rows x 5 columns]